body {
    background-image: url("../images/bgimage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    background-color: rgb(204, 240, 252);
    border-radius: 10px;
}
.form-control {
    box-shadow: none !important;
}