.welcome {
    background-color: cornflowerblue;
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input,
select {
    box-shadow: none !important;
}

.scroll {
    width: 200px;
    height: 100px;
    overflow: scroll;
}
.center{
    display: grid;
    place-content: center;
}
#button {
    background-color: lightgreen;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
}
#button1 {
    background-color: lightgreen;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
}
.fadeInOut{
    width: 400px;
    height: 200px;
    background-color: black;
    margin-top: 10px;
    margin-bottom: 10px;
}
button{
    border: none;
}
#square{
    width: 500px;
    height: 500px;
    position: relative;
    background-color: coral;
}
#moving{
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: black;
}